.CodeMirror {
    border: 1px solid #000;
    height: auto;
}
body {
    margin: 1em auto;
    width: 40em;
}  

pre.code {
    color: #000;
    background-color: #eee;
    border: 0.5px solid #555;
    padding: 1em;
    border-radius: 5px;
}

.resultRow {
    display: grid;
    grid-template-columns: 3em auto;
    padding: 1em 0;
}

.arrow {
    color: #000;
    grid-column-start: 1;
    grid-column-end: 2;
    margin: auto;
    font-size: 200%;
}

.result {
    color: #000;
    border: 1px solid #000;
    border-radius: 5px;
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 1em;
    display: block;
    white-space: pre;
}
